.Hamburger-WidgetContainer{
    width: 4em;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    padding-right: 10px;
}

.Hamburger-Container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100em;
    background-color: #EFA00B;
    border-radius: 5px;
}

.Burger-Widget{
    width: 4em;
    height: .5em;
    background-color: #EFA00B;
    display: block;
    width: 8;
    border-radius: 2em;
}