.Navbar{
    width: 100%;
    height: 5em;

    top: 0;

    display: flex;
    justify-content: flex-start;
    position: fixed;

    backdrop-filter: blur(10px);
    color: #EFA00B;
    background-color: #1b2432d0;
    z-index: 2;
    
}

.Navbar-Mobile{
    display: none;
}

.Navbar-right{
    display: flex;
    margin-left: auto;
    gap: 25px;
    padding-right: 10px;

    font-size: 1.25vh;
}   

@media(max-width:768px){
    .Navbar-right{
        display: none;
    }

    .Navbar-Mobile{
        display: flex;
        margin-left: auto;
        gap: 25px;
        padding-right: 10px;

        font-size: 1.25vh;
    }
}


.HoverStyle{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
