.Navbar{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    min-height: 12vh;

    position: fixed;

    backdrop-filter: blur(10px);
    color: #EFA00B;
    background-color: #1b2432d0;
    z-index: 2;
}