.ProjectDescription-style{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width:70vh;
    height:fit-content;
    background-color: #1B2432;
    border-radius: 15px;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    text-align: left;
}

.description-information{
    background-color: rgba(0, 0, 0, 0.466);

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: left;

    font-size: small;
    padding-left: 5px;
    gap: 20px;
}

.description-gif-syle{
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.description-text-box{
    padding: 5px;
}

.description-header{
    font-size:3vh;
    margin-top: 0;
}

.p1{
 margin: 1;
 color: white;
}